.gallery {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    display: inline-block;
    font-size: 11vmin;
    font-weight: 900;
    letter-spacing: -1px;
    text-decoration: none;
    color: $secondColor;
  }

  &__list {
    display: grid;
    grid-gap: 2vmax;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 4vmax 0;
  }

  &__msg {
    text-align: center;
    margin-top: 6vmax;

    span {
      font-size: 2.5vmax;
      text-transform: uppercase;
    }
  }
}