*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $mainFontSize;
}

.container {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  padding: 3vw;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: "Montserrat", sans-serif;
}

input {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}